@import "tailwindcss";

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-mono: "Sometype Mono", monospace;
  }
}

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@layer base{
  body{
    @apply bg-zinc-900 text-white;
  }
}